

.container2 {
    width: 100%;
    margin: 20px 0 200px;
}

.headline2 {
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 100;
}
.find-password {
    font-size: 40px;
}

.form-container2 {
    /* margin: auto; */
    /* width: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.find-password-by-id2 {
    width: 100%;
    font-size: 25px;
    font-weight: 200;
}
.holder2{
    font-size: 25px;
    font-weight: 200;
}
.email2 {
    font-size: 25px;
    font-weight: 200;
}
#member_id2 {
    width: 500px;
    margin: 10px 0px 50px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #eaeaea;
}
#name2 {
    width: 500px;
    margin: 10px 0px 50px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #eaeaea;
}

.test2 {
    width: 500px;
}

#email2 {
    width: 500px;
    height: 40px;
    margin: 10px 0px 50px;
    border: none;
    border-bottom: 1px solid #eaeaea;
}

.sp-btn2 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 500px;
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 50px;
    align-items: center;
}
.sp-sub-submit2{
    width: 500px;
}
