.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 100px; */
    /* margin-top: -50px; */
}
.member-wrap {
    width: 1345px;
    height: 780px;
    margin: 100px 52.5px 0px;
    padding: 0px 72.5px;
    display: flex;
    justify-content: space-between;
}
.section {
    width: 525px;
    height: 780px;
    padding: 100px 0px 180px;
    display: flex;
    flex-direction: column;
}
.section-header {
    margin-top: -70px;
    font-size: 30px;
    font-weight: 500;
}
.form-login {
    width: 525px;
    height: 516px;
}
.login-box {
    width: 525px;
    height: 401px;
}
.input-box {
    position: relative;
    margin-top: 45px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}
.login-input {
    height: 45px;
    width: 100%;
    font-size: 15px;
    border: none;
    border-bottom: solid 1px #808080;
}
.btn-login-box {
    margin-top: 43px;
    text-align: center;
}
.btn-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.btn-member-white {
    width: auto;
    height: 16px;
    padding: 0px;
    border: none;
    background-color: white;
    font-size: 13px;
    font-weight: 400;
}
.be::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: black;
    margin: -3px 15px;
}
.member-login-btn {
    margin-top: 45px;
    padding: 0px;
    width: 100%;
    height: 60px;
    background-color: black;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;

}
.image {
    width: 525px;
    height: 440px;
    border: none;
}
img {
    width: 100%;
}
.image-tag {
    width: 100%;
    height: 50px;
    background-color: black;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}